<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.atgpcm.oneStopApplet.dao.AreaDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.atgpcm.oneStopApplet.domain.entity.Area">
        <id column="id" property="id" />
        <result column="area_name" property="areaName" />
        <result column="area_type" property="areaType" />
        <result column="pid" property="pid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, area_name, area_type, pid
    </sql>

</mapper>
