<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.atgpcm.oneStopApplet.dao.SeriesRelevanceCompeteDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.atgpcm.oneStopApplet.domain.entity.SeriesRelevanceCompete">
        <result column="series_id" property="seriesId" />
        <result column="compete_id" property="competeId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        series_id, compete_id
    </sql>

</mapper>
